<h4>Share Task</h4>
<hr />
<div id = "user_modal">
  <%= autocomplete_field_tag :search, params[:search], autocomplete_user_name_participants_path, {class: "search-query", id: "tag_box", placeholder: "Type user's name"} %>
  <b>Shared with:</b><br />
  <input type="text" id = "tags">
  <div class = "share_links">
    <%= form_for @task do |f| %>
      <%= f.hidden_field :task_id, value: @task.id.to_i %>
      <div id ="users_list_b"></div>
      <%= f.button :Save, {class: 'share_link save pull-left'}%>
    <% end %>
    <%= link_to ("<div class = 'delete_confirmation_cancel_button pull-left popup-exit'><u>Cancel</u></div>").html_safe, task_path(@task.id),:rel => "modal:close" %>
  </div>
</div>
<script>

var elt = $('#tags');
var users_b = $('#users_list_b');
var task_id = '<%= @task.id %>';
//elt.prop('disabled', true);
elt.tagsinput({
  tagClass: 'label label-primary',
  itemValue: 'value',
  itemText: 'text'
});

$( document ).ready(function() {
  <% @task.participants.each do |participant| %>
    <% next if participant.user_id == current_user.id %>
    <% if participant.status == 'pending' %>
      elt.tagsinput('add', { "value": '<%= participant.user_id %>' , "text": '<%= participant.user.name %>'+'(request sent)', "id": '<%= participant.id %>' });
    <% else %>
      elt.tagsinput('add', { "value": '<%= participant.user_id %>' , "text": '<%= participant.user.name %>', "id": '<%= participant.id %>' });
    <% end %>
    users_b.empty();
  <% end %>

  $('.search-query').bind('railsAutocomplete.select', function(event, data ){
    if (data.item.id){
      elt.tagsinput('add', { "value": data.item.id , "text": data.item.value });
      $(this).val('');
    }else{
      $(this).val('');
    }
});
});
users_b.empty();
var $elt = elt.tagsinput('input');
var current_user_id = "<%= current_user.id %>";
elt.on('beforeItemAdd', function(event) {
  var push_val = event.item.value;
  users_b.append($('<input>',{'id':'user'+push_val,'type':'hidden','name':'task[participants_attributes]['+push_val+'][user_id]','value':push_val}));
});
elt.on('beforeItemRemove', function(event) {
  var pop_val = event.item.value;
  if (pop_val == current_user_id){
    event.cancel = true;
  } else {
    if ($('#user'+pop_val).length){
      $('#user'+pop_val).remove();
    } else {
      users_b.append($('<input>',{'id':'user'+pop_val,'type':'hidden','name':'task[participants_attributes]['+pop_val+'][id]','value': event.item.id}));
      users_b.append($('<input>',{'id':'user'+pop_val,'type':'hidden','name':'task[participants_attributes]['+pop_val+'][user_id]','value':pop_val}));
      users_b.append($('<input>',{'id':'user'+pop_val,'type':'hidden','name':'task[participants_attributes]['+pop_val+'][_destroy]','value': 1}));
    }
  }


});
</script>
