<!-- Partial for tasks -->
<div class="panel panel-default task" id="task_display_panel_<%= task.id %>">
  <div class="panel-body">
    <div class="col-sm-8">
      <div class = "col-sm-12">
        <div class= "task_title">
          <%= link_to task.title, task_path(task.id) %>
        </div>
      </div>
      <div class = "col-sm-12">
        <div class= "task_date">
          <%= task.created_at.strftime("%I.%M %p, %d %b %Y") %>
        </div>
      </div>

    </div>
    <div class ="col-sm-4 task_buttons">
      <div class = "task_button">
        <div class = "col-sm-3">
            <%= link_to ("<div class = 'task_menu_btn up_button'> </div>").html_safe, task_up_task_path(task.id), remote: true %>
        </div>
        <div class = "col-sm-3">
          <%= link_to ("<div class = 'task_menu_btn down_button'> </div>").html_safe, task_down_task_path(task.id), remote: true %>
        </div>
        <div class = "col-sm-3">
          <%= link_to ("<div class = 'delete_button'> </div>").html_safe, confirm_delete_task_path(task.id), remote: true %>
        </div>
        <% if task.user_id == current_user.id %>
              <div class = "col-sm-3">
                <% if task.completed == false %>
                  <%= link_to ("<div class = 'task_menu_btn comp_button'> </div>").html_safe, task_completion_task_path(id:task.id,status:true) , remote: true %>
                <% else %>
                  <%= link_to ("<div class = 'task_menu_btn comp_button completed'> </div>").html_safe, task_completion_task_path(id:task.id,status:false), remote: true %>
                <% end %>
              </div>
        <% else %>
        <div class = "col-sm-3">
          <% if task.completed == false %>
             <div class = 'task_menu_btn comp_button disabled'></div>
          <% else %>
             <div class = 'task_menu_btn comp_button completed disabled'> </div>
          <% end %>
        </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
<div class="panel panel-default delete_box" id = "confirm_delete_<%= task.id %>" style="display:none;">

</div>
