<div class="panel panel-default row show">
  <div class="panel-body show">
    <div class="col-sm-8">
      <div class = "col-sm-12">
        <div class= "task_title">
          <%= sanitize(link_extract(@task.title)) %>
        </div>

      </div>
      <div class = "col-sm-12">
        <div class = "task_author">
          Created by <b><%= link_to creator(@task).name, user_path(creator(@task).id) %></b>
          <span>
            <% if creator(@task) == current_user %>
              (You)
            <% end %>
          </span>
        </div>
        <div class= "task_date">
          <%= time_ago_in_words(@task.created_at) %>
        </div>
      </div>
    </div>
    <% if @task.user_id == current_user.id %>
          <div class = "task_delete_link pull-right">
            <%= link_to ("<div class = 'delete_button'> </div>").html_safe, task_path(@task.id), data: {confirm: "Are you sure?"}, method: :delete %>
          </div>
    <% end %>
    <div class = "col-sm-12 slider_header">
      Task Completion
    </div>
    <div class = "col-sm-12 task_completion_slider_box row">

      <div class = "pull-left slider_box">

          <div id="slider_group">
              <div id="slider"></div>
              <span id="completion_perc"><%= @participant.progression.to_i %>%</span>
          </div>

      </div>
      <% if @task.user_id == current_user.id %>
        <div class ='pull-right'>
              <% if @task.completed == false %>
                <%= link_to ("<div class = 'task_menu_btn comp_button'> </div>").html_safe, task_completion_task_path(id:@task.id, status:true) %>
              <% else %>
                <%= link_to ("<div class = 'task_menu_btn comp_button completed'> </div>").html_safe, task_completion_task_path(@task.id, status:false) %>
              <% end %>
        </div>
      <% else %>
        <div class ='pull-right'>
              <% if @task.completed == false %>
                <div class = 'task_menu_btn comp_button disabled'> </div>
              <% else %>
                <div class = 'task_menu_btn comp_button completed disabled'> </div>
              <% end %>
        </div>
      <% end %>

    </div>
    <div class = 'col-sm-12'>
      <%#= link_to ("<div class = 'share_link'>Share</div>").html_safe, controller: "tasks", action: "add_participants", id: @task.id , remote: true %>

        <% unless (@task.user_id!= current_user.id) %>
          <%#= link_to_modal ("<div class = 'share_link'>Share</div>").html_safe, add_participants_task_path(@task.id), data:{remote: true} %>
          <div id="example-popup" class="popup">
            <div class="popup-body">
              <%=render 'add_participants' %>
            </div>
          </div>
          <div class="popup-overlay"></div>
          <div class="share_link" data-popup-target="#example-popup">
            Share
          </div>
        <% end %>


    </div>

    <div class = "col-sm-12 shared_people">
        <strong>Shared With :</strong>
        <% @task.participants.each do |participant| %>
          <% next if participant.user_id == current_user.id %>
          <% if participant.status == 'confirmed' %>
            <%= link_to participant.user.name, user_path(participant.user) %>
            <% unless participant == @task.participants.last %>
              &nbsp;
            <% end %>
          <% end %>
        <% end %>
    </div>


  </div>
  <!-- Overall task percentage -->
  <% if @task.user_id == current_user.id %>
      <div class = "overall_progress">
            <a href="#" data-toggle="tooltip" title="<%= total_completion(@task) %>%">
              <div class="progress">
              <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:<%= total_completion(@task) %>%"></div>
            </div>
            </a>
      </div>
  <% end %>
  <!---------------------------------------->
</div>


<div id="task_delete_confirmation" style="display: none; ">

</div>



<div class = 'comments_panel'>
  <ul class="list-group", id="comments_listing">
    <%= render @comments.reverse %>
  </ul>
  <%= will_paginate @comments %>
  <%= render 'comments/form' %>
</div>
<span id= "task_id", display:none>
  <%= @task_id %>
</span>
</form>


<script>
var $slider = $("#slider");
var Count=0;
  $slider.slider({
    min: 0,
    max: 100,
    value: 0,
    orientation: "horizontal",
    range:'min',
    animate: "fast",
    value: '<%= @participant.progression.to_i %>',
    change: function( event, ui ) {
    var progress=$(this).slider("value");
    var id = '<%=@task.id%>'
    $("#completion_perc").html(progress+"%");
    Count++;
    setTimeout(function(){
      Count--;
      if(Count<=0) {
        $.ajax({
        url: '/participants/set_progression',
        method: "POST",
        data: {id:id ,progress:progress }
        });
      }
    }, 1500);

    }

  });
if (<%= @task.completed == true %>) {
  $('#slider').slider({ disabled: true });
}

$(document).ready(function() {

    $('[data-popup-target]').click(function () {
        $('html').addClass('overlay');
        var activePopup = $(this).attr('data-popup-target');
        $(activePopup).addClass('visible');

    });

    $(document).keyup(function (e) {
        if (e.keyCode == 27 && $('html').hasClass('overlay')) {
            clearPopup();
        }
    });

    $('.popup-exit').click(function () {
        clearPopup();

    });

    $('.popup-overlay').click(function () {
        clearPopup();
    });

    function clearPopup() {
        $('.popup.visible').addClass('transitioning').removeClass('visible');
        $('html').removeClass('overlay');

        setTimeout(function () {
            $('.popup').removeClass('transitioning');
        }, 200);
    }

});
$(document).ready(function(){
  $('.pagination').hide();
});
</script>
