<a href="#" data-toggle="tooltip" title="<%= total_completion(@task) %>%">
  <div class="progress">
    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:<%= total_completion(@task) %>%"></div>
  </div>
</a>
