//Chnages progression //
$('.overall_progress').html('<%= escape_javascript render partial: "overall_progress" %>');
$('#comments_listing').html('<%= escape_javascript render(@participant.task.comments.reverse) %>');
